.health-container {
    display: flex;
    width: 100%;
    padding-top: 125px;
  }
  
  .articles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default: 3 columns */
    gap: 60px;
    width: 100%;
    padding: 100px;
    padding-top: 70px;
    padding-left: 90px;
  }
  
  @media (max-width: 768px) {
    .health-container, .home-container, .world-container, 
    .politics-container, .business-container, .sports-container, 
    .environment-container, .travel-container, .entertainment-container, 
    .science-container {
      padding-top: 80px;
    }
  
    .articles-grid {
      grid-template-columns: repeat(1, 1fr); /* 1 column for mobile */
      gap: 30px;
      padding: 20px;
      padding-top: 40px;
      padding-left: 20px;
    }
  }