.news-page {
    background-color: white;
    color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-left: 0px;
    width: 100vw;
    padding-top: 205px;
    padding-bottom: 100px;
  }
  
  .news-container {
    max-width: 1000px;
    width: 100%;
  }
  
  .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    width: 100%;
  }
  
  .meta-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .category-item {
    text-align: center;
    padding: 5px;
    font-weight: 500;
    color: black;
    border-radius: 0px;
    border: 1px solid black;
    width: fit-content;
  }

  .published-date-display{
    font-weight: 500;
  }

  .author{
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .right {
    display: flex;
    gap: 10px;
  }
  
  .save-button,
  .listen-button {
    padding: 8px 16px;
    font-size: 0.9rem;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid black;
    color: black;
    transition: background-color 0.3s;
  }
  
  .save-button:hover,
  .listen-button:hover {
    background-color: #ddd;
  }

  .stop-button {
    padding: 8px 16px;
    font-size: 0.9rem;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    background-color: black;
    border: 1px solid black;
    color: white;
    transition: background-color 0.3s;
  }
  
  .cover-image-display {
    display: block;
    max-height: 400px;
    object-fit: cover;
    margin: 0 auto 20px;
    border-radius: 0px;
  }
  
  
  .content-display {
    text-align: left;
    line-height: 1.6;
    font-size: 1.1rem;
    color: black;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    width: 100%;
  }
  
  .content p {
    margin-bottom: 1.5rem;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;
  }
  
  .tag {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 0px;
    border: 1px solid black;
    font-size: 0.9rem;
    color: #000;
    display: inline-block;
    margin: 5px;
  }

  @media (max-width: 768px) {
    .news-page {
        padding-top: 80px;
        width: 90vw;
        padding-left: 18px;
        padding-right: 17px;
    }

    .title {
        font-size: 1.2rem;
    }

    .meta-info {
        font-size: 0.9rem;
    }

    .category-item {
        font-size: 0.8rem;
    }

    .published-date-display {
        font-size: 0.8rem;
    }

    .author {
        font-size: 0.9rem;
    }

    .save-button,
    .listen-button {
        font-size: 0.8rem;
    }

    .cover-image-display {
        width: 100%;
        max-height: 200px;
    }

    .content-display {
        font-size: 0.9rem;
    }

    .tag {
        font-size: 0.8rem;
    }
}