.saved-container {
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    padding-top: 70px;
    padding-left: 0px;
    text-align: center;
  }
  
  .saved-container h2 {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .saved-articles-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .saved-articles-list p{
    color: black;
  }

  @media (max-width: 768px) {
    .saved-container {
      width: 100vw;
      padding: 0px;
      padding-top: 10px;
    }
  
    .saved-container h2 {
      font-size: 1.5em;
      margin-bottom: 15px;
    }
  
    .saved-articles-list {
      gap: 15px;
    }
  }