.search-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding-top: 220px;
}

.search-bar {
  width: 100vw;
  display: flex;
  position: fixed;
  top: 147px;
  padding: 10px;
  justify-content: center;
  background-color: white;
  z-index: 900;
  border-bottom: 1px solid black;
}

.search-input {
  padding: 10px;
  color: black;
  background-color: white;
  border: 1px solid black;
  width: 1000px;
  height: 50px;
  font-size: 16px;
}

.search-button {
  background-color: #000;
  border: 1px solid black;
  border-radius: 0;
  padding: 10px 15px;
  width: 72px;
  height: 72px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button svg {
  font-size: 18px;
}

.search-results {
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
}

.loading,
.error,
.no-results {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.error {
  color: red;
}

.no-results {
  color: #666;
}

@media (max-width: 768px) {
  .search-container {
    padding-top: 150px;
  }

  .search-bar {
    width: 100%;
    margin-top: -71px;
    padding: 10px;
  }

  .search-input {
    width: 70%;
    height: 40px;
    font-size: 14px;
  }

  .search-button {
    width: 50px;
    height: 62px;
  }

  .search-results {
    margin-top: 10px;
    width: 90%;
  }
}